# CLion
.idea/
cmake-build-debug/

# macOS
.DS_Store

# compilation artifacts
*.o
*.d
*.out

# valgrind
*.dSYM/

# module 00
megaphone
phonebook
test_account

# module 01
test_pony
test_leak
test_zombie
test_horde
brain
identify
violence
replace
test_human
test_logger
cato9tails

# module 02
test_fixed
eval_expr

# module 03
test_frag_trap
test_scav_trap
test_clap_trap
test_ninja_trap
test_super_trap

# module 04
test_poly
test_fallout
test_warhammer
test_materia
test_mining

# module 05
test_bureaucrat
test_form
test_concrete_forms
test_intern
test_office_block
test_central_bureaucracy
